[run]
branch = true
parallel = true
;relative_files = true

; Comment [paths] to coverage plugin
; [paths]
; source = src

[report]
exclude_also =
    no cover
omit =
    **/__main__.py
    **/__init__.py
precision = 2
show_missing = true
