# misc
.DS_Store

# pytest
__pycache__
.pytest_cache

# pytest cov
.coverage

# ruff
.ruff_cache

# test icon theme
tests_icon_theme

# zukan
/icons/*.sublime-theme
/icons_syntaxes/*.sublime-syntax
/preferences/*.tmPreferences
