name: Build

on: [push]

jobs:
  build-tests:

    name: Build Tests
    runs-on: ubuntu-latest
    permissions:
      # Passing one of default ones.
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      #  Install the latest version of uv and set the python version to 3.14
      - name: uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.14
      - name: Python
        run: |
          uv python install 3.14
          uv venv --python 3.14
          uv python pin 3.14
      - name: Install dependencies
        run: uv sync
      - name: Test with pytest
        run: uv run pytest
